header {
    background-color: cadetblue;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.493);
    padding-block: 12px;
    padding-inline: 24px;
    margin: 12px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.603);
    
}



header h1 {
    
    flex: 0 0 200px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.623);
}



nav {
    
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
   
    gap: 12px;
    padding: 8px;
}



#header-01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    
    
}
@media (width <= 660px) {
    
    header h1 {
        font-size: 3.5em;
        flex-wrap: wrap;
        flex: 1 1 375px;
        text-align: center;
    }

    nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width <= 644px) {
    
    header h1 {
        flex-direction: column;
        flex: 1 1 250px;
        text-align: center;

        
    
    }
    #header-01 {
        flex-wrap: wrap;
        flex: 0 1 300px;
        
    }
    nav {
        flex-flow: column wrap;
        flex: 0 1 400px;
        justify-content: center;
        
        
    } 

    .menu {
        margin: auto;
        margin-top: 8px;
    }

    
}