@charset "UTF-8";

body {
    height: 100vh;
    /*background-color: #fff;
    background: url(imagens/wallpaper002.jpg) center/cover no-repeat fixed; /* shorthand para background-image, background-position, background-size, background-repeat, background-attachment */
    
    

    background: black url(imagens/wallpaper002.jpg) center/cover no-repeat fixed;
}

main {
    background-color: white;
    max-width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 15px;
}