@charset "UTF-8";


.cartao {
    width: 300px;
    padding: 20px;
    background-color: #77C4D3;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
}

.cartao img {
    width: 200px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 2px;
}

.cartao #nome-do-cartao {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    text-shadow: #EA2E49 1px 2px 2px;
    color: #DAEDE2;
    
    

}

#nome-do-cartao span {
    width: 55%;
    display: block;
    background-color: #EA2E49;
    border-radius: 5px;
    border-width: 20px;
}